<!DOCTYPE html>
<html>
<head>
  <title>GNUKhata</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">
    <div class="alert alert-danger" id="date-improper-alert" aria-live="rude" role="alert" hidden>

      Improper Date!
    </div>
    <div class="alert alert-success" id="success-alert" aria-live="rude" role="alert" hidden>

Books have been closed for the current Financial Year.
    </div>
    <div class="alert alert-danger" id="closebook-blank-alert"  aria-live="rude" role="alert" hidden>

      Please enter Date!
    </div>
    <div class="alert alert-danger" id="booksnot-alert"  aria-live="rude" role="alert" hidden>

      Books cannot be closed!
    </div>
    <div class="row">
      <div class="col-xs-6 pull-left"  style="padding-top:6px">
        <div class="panel shadow">
          <div class="panel-heading">
            <div class="panel-title">Close Books and Rollover</div>

          </div>
          <div style="padding-top:20px; background-color: #f9f9f9;" class="panel-body" >
            <p style="margin-top: 5px;"></p>
            <p><b>CLOSE BOOKS:</b></p>
            <p>After Close Books, balances in all expense and income accounts are transferred to Profit & Loss or Income & Expenditure account and these accounts are closed.
            </p><p>After <b>CLOSE BOOKS</b> is done, transactions cannot be recorded but ledger accounts can be viewed.</p>
            <p><br>
            <b>ROLL OVER:</b></p>
            <ul><li>a new organization with the same name and type is created for the next accounting year,</li>
            <li>every existing asset and liability account is automatically opened under its respective Group and Sub-Group and correct opening balance is brought down,</li>
            <li>in case of expense and income accounts these are also opened under their respective Groups and Sub-Groups, of course, without opening balances,</li></ul>
            <p>The Closing Stock of the earlier year gets transferred to the next year as Opening Stock.
            This module can only be activated after <b>CLOSE BOOKS</b> is done.</p>
          </div>
        </div>

      </div>
      <div style="padding-top:5px" class="col-xs-6 pull-right">
        <div class="panel shadow closebooks" hidden="hidden">
          <div class="panel-heading">
            <div class="panel-title">Close Books</div>
          </div>
          <div style="padding-top:5px" class="panel-body" >
            <p>Current Financial Year:
              <div class="form-inline">

                <label class="sr-only" for="cbfromday">Enter From Day</label>
                <input type="text" id="cbfromday" name="fromday" class="form-control crdate " size="2" maxlength="2" style="width:60px"  placeholder="DD" accesskey="d" disabled>

                <label class="sr-only" for="cbfrommonth">Enter From Month</label>
                <input type="text" id="cbfrommonth" name="frommonth" class="form-control crdate " size="2" maxlength="2" style="width:60px"  placeholder="MM" disabled>

                <label class="sr-only" for="cbfromyear">Enter From Year</label>
                <input type="text" id="cbfromyear" name="fromyear" class="form-control crdate " size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>

                <label>--To--</label>

                <label class="sr-only" for="cbtoday">Enter To Day</label>
                <input type="text" id="cbtoday" name="today" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" >

                <label class="sr-only" for="cbtomonth">Enter To Month</label>
                <input type="text" id="cbtomonth" name="tomonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM"  >

                <label class="sr-only" for="cbtoyear">Enter To Year</label>
                <input type="text" id="cbtoyear" name="toyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >
              </div></p>

              <button type="button" id="closebooks" class="btn btn-danger closebooks" accesskey="s">Clo<u>s</u>e Books</button>
            </div>
          </div>
        </div>




        <div style="padding-top:5px" class="col-xs-6 pull-right">
          <div class="panel shadow" >
            <div class="panel-heading">
              <div class="panel-title">Roll Over</div>
            </div>
            <div style="padding-top:5px" class="panel-body" >
              <p><b>Roll Over for the Period</b></p>
              <p>Current Financial Year From:<div class="form-inline">

                <label class="sr-only" for="rbfromday">Enter From Day</label>
                <input type="text" id="rbfromday" name="fromday" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" disabled>

                <label class="sr-only" for="rbfrommonth">Enter From Month</label>
                <input type="text" id="rbfrommonth" name="frommonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" disabled>

                <label class="sr-only" for="rbfromyear">Enter From Year</label>
                <input type="text" id="rbfromyear" name="fromyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>

                <label>--To--</label>

                <label class="sr-only" for="rbtoday">Enter To Day</label>
                <input type="text" id="rbtoday" name="day" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" disabled>

                <label class="sr-only" for="rbtomonth">Enter To Month</label>
                <input type="text" id="rbtomonth" name="tomonth" class="form-control crdate" size="2" maxlength="2" style="width:60px"  placeholder="MM"  disabled>

                <label class="sr-only" for="rbtoyear">Enter To Year</label>
                <input type="text" id="rbtoyear" name="toyear" class="form-control crdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  disabled>
              </div></p>

              <p>New Financial Year From: <div class="form-inline">

                <label class="sr-only" for="rbfrom_day">Enter From Day</label>
                <input type="text" id="rbfrom_day" name="fromday" class="form-control crdate dis" size="2" maxlength="2" style="width:60px"  placeholder="DD">

                <label class="sr-only" for="rbfrom_month">Enter From Month</label>
                <input type="text" id="rbfrom_month" name="frommonth" class="form-control crdate dis" size="2" maxlength="2" style="width:60px"  placeholder="MM" >

                <label class="sr-only" for="rbfrom_year">Enter From Year</label>
                <input type="text" id="rbfrom_year" name="fromyear" class="form-control crdate dis" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >

                <label>--To--</label>

                <label class="sr-only" for="rbto_day">Enter To Day</label>
                <input type="text" id="rbto_day" name="day" class="form-control crdate dis" size="2" maxlength="2" style="width:60px"  placeholder="DD" >

                <label class="sr-only" for="rbto_month">Enter To Month</label>
                <input type="text" id="rbto_month" name="tomonth" class="form-control crdate dis" size="2" maxlength="2" style="width:60px"  placeholder="MM"  >

                <label class="sr-only" for="rbto_year">Enter To Year</label>
                <input type="text" id="rbto_year" name="toyear" class="form-control crdate dis" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >
              </div></p>

              <button type="button" id="rollover" class="btn btn-primary dis" accesskey="v">Roll O<u>v</u>er</button>
            </div>
          </div>

        </div>
      </div>
      <!-- Trigger the modal with a button -->


    </div>

    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div class="modal fade" id="m_rollb" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure?</p>
            </div>
            <div class="modal-footer">

              <button id="m_remove" class="btn btn-warning" >Yes</button>
              <button id="m_cancel" class="btn btn-danger" data-dismiss="modal" >No</button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/closebooks.js')}}"></script>
</body>
</html>
