
<!DOCTYPE html >
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>GNUKhata</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}">


  <style>
  .content{ margin-top:4%
  }
  .shadow {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #ticker {
    display: none;
  }
  .gknav{
  	background-color: rgb(26,34,41);
  }
  .gknav .navbar-brand {
      color: white;
  }
  .gknav .navbar-nav > li > a {
      color: white;
  }
  .gknav .navbar-nav > li > a:hover, .gknav .navbar-nav > li > a:focus {
      background-color: black;
  		color: white;
  		border-radius: 2px;
  }
  ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li > a:focus{
  background-color: #bfbfbf;
  border-style: solid;
  border-color: #2a1278;
  border-width: 2px;
  border-radius: 2px;
  }
  .gknav .navbar-nav > .open > a,
  .gknav .navbar-nav > .open > a:hover,
  .gknav .navbar-nav > .open > a:focus {
      background-color: #bfbfbf;
  		color: black;
  		border-radius: 2px;
  }
  .gknav .navbar-nav > .active > a,
  .gknav .navbar-nav > .active > a:hover,
  .gknav .navbar-nav > .active > a:focus {
      color: black;
      background-color: #bfbfbf;
  		border-radius: 2px;
  }
  .gknav .navbar-nav > li > a:hover,
  .gknav .navbar-nav > li > a:focus {
      color: #black;
  }
  .panel{
  	border-color: rgb(87,93,99);
  }
  .panel-heading, .panel-title {
  	background-color: rgb(87,93,99);
  	color: white;
  }
  .thead {
  	background-color: #a3a3a3;
  }
  </style>



</head>
<body style="background:url({{request.static_url('gkwebapp:static/images/old_mathematics.png')}})">

  <nav class="navbar gknav navbar-fixed-top">
    <div class="container-fluid">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:42px;height:42px;margin-top: -11px" /></a>
        <a class="navbar-brand" >GNUKhata</a>

      </div>

      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a data-toggle="tab" id="selectnav" href="#selectorg"> <span class="sr-only">Select Existing Organisation</span>Select <u>E</u>xisting Organisation</a></li>
          <li><a data-toggle="tab" id="createnav" href="#createorg">C<u>r</u>eate Organisation</a></li>

        </ul>
      </div>
    </div>
  </div>
</nav>
  <br />
  <div class="container-fluid" id="ticker">
    <ul class="shadow" style="list-style-type: none; margin-top: 30px; margin-bottom: -30px; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 5px;">
      <li style="float: left;"><a data-toggle="tab" style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
      <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
    </ul>
      </div>

  <div class="col-md-6 pull-left container-fluid" style="margin-top:50px;">
    <div class="alert alert-danger" aria-live="rude" role="alert" id="duplicate-org-alert" hidden>
      Duplicate Organisation!
    </div>
    
    <div class="panel shadow" >
      <div class="panel-heading">
        <div class="panel-title">
          Welcome To GNUKhata <br /> <h4>A Free and Open Source Accounting Software</h4></div>

      </div>
      <div style="padding-top:20px; background-color: #f9f9f9;" class="panel-body" >
        <p style="margin-top: 5px;">It is Lightweight</p>
        <p> It can scale upto a cloud based deployment or down to a standalone installation</p>
        <p> It is fast and robust</p>
        <p> It is based on double entry system of accounting.</p>
      </div>
      <div class="panel-footer" style="background-color: rgb(87,93,99); color: white;">
        <p>GNUKhata is developed by <b>Digital Freedom Foundation(DFF)</b> and is currently funded by <b>International Centre for Free and Open Source Software(ICFOSS).</b></p>
      </div>
      </div>
   <div class="shadow" style="background-color: rgb(87,93,99); color: white; margin-top: -10px; border-radius: 4px;">
     <p style="text-align: center; font-size: 0.9em;">Copyright © Digital Freedom Foundation 2013,2014,2015,2016. Visit <a href="http://gnukhata.in" style="color: white;"><strong>gnukhata.in</strong></a> for more information.</p>
     <p style="text-align: center; font-size: 0.9em; margin-top: -10px; margin-bottom: 0px">This software is licensed under GNU AGPLv3. You may use a newer version of the same license.</p>
   </div>
  </div>
  <div class="tab-content">

    <div id="selectorg" class="tab-pane fade in active">


    </div>
    <div id="createorg" class="tab-pane fade">

    </div>

  </div>

  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/index.js')}}"></script>


</body>
</html>
